<!-- About section -->
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">Hi, I'm Stephen!</h2>
                <p class="text-white-50">
                    I work arduously to produce high quality, fully responsive web applications.
                    <br><br>
                    I am a well-organised, problem solving, independent individual that is interested being a part of ambitious projects.
                </p>
            </div>
        </div>
    </div>
</section>