<!-- Contact Section -->
<section id="contact" class="contact-section bg-black">
  <div class="container">

    <div class="row">
      <!-- Resume tile -->
      <div class="col-md-3 mb-3 mb-md-0">
        <a href="https://novoresume.com/gb/a/stephen.callum.1" target="_blank" class="card-link">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="far fa-file-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Résumé</h4>
              <hr class="my-4">
              <div class="small text-black-50">Find out more about me!</div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-3 mb-3 mb-md-0">
        <a href="mailto:stephen.callum@hotmail.co.uk" target="_blank" class="card-link">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">Contact me! <br><br> stephen.callum@hotmail.co.uk</div>
            </div>
          </div>
        </a>
      </div>

      <!-- Github tile -->
      <div class="col-md-3 mb-3 mb-md-0">
        <a href="https://github.com/Stephen-Callum" target="_blank" class="card-link">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fab fa-github text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Github</h4>
              <hr class="my-4">
              <div class="small text-black-50">See my code!</div>
            </div>
          </div>
        </a>
      </div>

      <!-- LinkedIn tile -->
      <div class="col-md-3 mb-3 mb-md-0">
        <a href="https://www.linkedin.com/in/stephen-callum-36230014a/" target="_blank" class="card-link">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fab fa-linkedin text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">LinkedIn</h4>
              <hr class="my-4">
              <div class="small text-black-50">Check my professional profile!</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
