<!-- Heading/Welcome Section -->
<header class="masthead">
  <div class="container d-flex h100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Front End Developer</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">MSc Graduate of Computer Science</h2>
      
      <hr class="my-4">

      <div class="social d-flex justify-content-center">
        <a href="#" class="btn btn-primary js-scroll-trigger mx-2">
          <i class="fas fa-address-card">
            <span>Résumé</span>
          </i>
        </a>
        <a href="#" class="btn btn-primary js-scroll-trigger mx-2">
          <i class="fab fa-github">
            <span>Github</span>
          </i>
        </a>
        <a href="#" class="btn btn-primary js-scroll-trigger mx-2">
          <i class="fab fa-linkedin">
            <span>LinkedIn</span>
          </i>
        </a>
      </div>
    </div>
  </div>
</header>
