<!-- Heading/Welcome Section -->
<header class="masthead">
  <div class="container d-flex h100 align-items-center">
    <div class="mx-auto text-center">
      
      <!-- <h2 class="text-white-50 mx-auto mt-2 mb-5">MSc Computer Science Graduate</h2> -->
      
      <div id="particles-js">
        <h1 class="mx-auto my-0 text-uppercase center">Front End Developer</h1>
      </div>
      
      <hr class="my-4">

      <div class="social d-flex justify-content-center">
        <a href="https://novoresume.com/gb/a/stephen.callum.1" class="btn btn-primary js-scroll-trigger mx-2">
          <i class="far fa-file-alt">
            <span> Résumé</span>
          </i>
        </a>
        <a href="#" class="btn btn-primary js-scroll-trigger mx-2">
          <i class="fab fa-github">
            <span> Github</span>
          </i>
        </a>
        <a href="#" class="btn btn-primary js-scroll-trigger mx-2">
          <i class="fab fa-linkedin">
            <span> LinkedIn</span>
          </i>
        </a>
      </div>
    </div>
  </div>
</header>
