<!-- Heading/Welcome Section -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">


      <!-- <div id="particles-js"> -->
      <h1 class="mx-auto my-0 text-uppercase">Front End Developer</h1>
      <h3>Continuous Integration test</h3>
      <!-- </div> -->

      <hr class="my-4">

      <div class="social d-flex justify-content-center">
        <a href="https://novoresume.com/gb/a/stephen.callum.1" target="_blank"
          class="btn btn-primary js-scroll-trigger mx-2">
          <i class="far fa-file-alt">
            <span> Résumé </span>
          </i>
        </a>
        <a href="https://github.com/Stephen-Callum" target="_blank" class="btn btn-primary js-scroll-trigger mx-2">
          <i class="fab fa-github">
            <span> Github </span>
          </i>
        </a>
        <a href="https://www.linkedin.com/in/stephen-callum-36230014a/" target="_blank"
          class="btn btn-primary js-scroll-trigger mx-2">
          <i class="fab fa-linkedin">
            <span> LinkedIn </span>
          </i>
        </a>
      </div>
    </div>
  </div>
</header>
