footer {
    padding: 7rem 0 3rem;
    background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 1) 0%, rgb(0, 0, 0) 100%);
}

img {
    width: 5rem;
    height: 5rem;
}

span {
    display: block;
}