<!-- Skills Section -->

<!-- Container for skills section -->
<div  class="container-fluid" id="skills-section">
  <!-- Skills section title -->
  <div class="section-title border-bottom">
    <p class="text-center m-5 pt-5 font-weight-bold">Skills</p>
  </div>
  <div class="container table-responsive">
    <!-- Skills table -->
    <table class="table text-center">
      <!-- Table headings -->
      <thead class="thead-dark">
        <tr class="row">
          <th class="col-3">Front-end</th>
          <th class="col-3">Back-end</th>
          <th class="col-3">Frameworks/Libraries</th>
          <th class="col-3">Other</th>
        </tr>
      </thead>
      <!-- Table body -->
      <tbody>
        <tr class="row">
          <td class="col-3">HTML</td>
          <td class="col-3">MySQL</td>
          <td class="col-3">Angular</td>
          <td class="col-3">Git</td>
        </tr>
        <tr class="row">
          <td class="col-3">CSS</td>
          <td class="col-3">PHP/PHPmyadmin (<i>Learning</i>)</td>
          <td class="col-3">React</td>
          <td class="col-3">Trello</td>
        </tr>
        <tr class="row">
          <td class="col-3">Javascript</td>
          <td class="col-3">Node.js (<i>Learning</i>)</td>
          <td class="col-3">jQuery</td>
          <td class="col-3">NPM</td>
        </tr>
        <tr class="row">
          <td class="col-3">Bootstrap</td>
          <td class="col-3">.NET/ASP.Net (<i>Learning</i>)</td>
          <td class="col-3">Wordpress (<i>Learning</i>)</td>
          <td class="col-3">Agile</td>
        </tr>
        <tr class="row">
          <td class="col-3">Ajax (<i>Learning</i>)</td>
          <td class="col-3"></td>
          <td class="col-3">Vue (<i>Learning</i>)</td>
          <td class="col-3">SCRUM</td>
        </tr>
        <tr class="row">
          <td class="col-3"></td>
          <td class="col-3"></td>
          <td class="col-3">RESTful APIs (<i>Learning</i>)</td>
          <td class="col-3">Webpack</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
